*{
  /* universal colors */
  --ownColor1: #d6eadcff;
  --ownColor2: #bbddc3ff;
  --ownColor3: #9fd0a9ff;
  --ownColor4: #3a7d44ff;
  --ownColor5: #27542dff;
  --ownColor6: #1a381eff;
  --textColor1: #000000;
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
  background-color: #D6EADC;
  font-family: 'Montserrat', sans-serif;

}

/* Navbar styles */
header #ownNavbar{ /* The whole bar */
  background-color: var(--ownColor3);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
  border: none;
  border-bottom: 10px solid var(--ownColor6);
  

}
header #ownNavbar .navbar-brand{
  color: #000;
  font-size: 2.5em;
  font-weight: 900;
  /*letter-spacing: 2px;*/
  text-transform: uppercase;
}
header #ownNavbar .navbar-nav a{
  color: #000;
  font-size: 1.15em;
  letter-spacing: 3.7px;
  text-transform: lowercase;
  padding-left: 10px;
  padding-right: 10px;
}
header #ownNavbar .navbar-nav a:hover{/*problem!!!!*/
  background-color: var(--ownColor1);
}
header #ownNavbar button.navbar-toggle{
  border-color: var(--ownColor6);
  border-width: 1px;
  box-shadow: 0px 0px 1px 1px var(--ownColor6);
}
header #ownNavbar span.icon-bar{
  background-color: var(--ownColor6);
}
header #ownNavbar button:hover.navbar-toggle{
  
}

/* Search bar */
header #ownNavbar form .input-group{
  /*width: 0px;
  position: relative;
  float: right;*/
}
header #ownNavbar form input{
  background-color: var(--ownColor1);
  border-color: var(--ownColor6);
  border-radius: 10px 0px 0px 10px;

  /*transition: width 0.4s ease-in-out;*/
  

}
header #ownNavbar form input:focus{
  border-color: var(--ownColor5);
  box-shadow: 0px 0px 2px 2px var(--ownColor4);

  /*float: right;
  width: 500px;*/
}
header #ownNavbar form button{
  background-color: var(--ownColor2);
  border-color: var(--ownColor6);
  border-radius: 0px 10px 10px 0px;  
}

/* End of search bar */
#widthIndicator{
  height: 20px;
  background-color: var(--ownColor4);
}
.manualMargin {
  height: 70px;
}

/****** Footer *******/
footer {
  border: none;
  border-top: 10px solid var(--ownColor6);
  background-color: var(--ownColor3);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0px;  
}


/*********** Large devices only ***********/
@media (min-width: 1200px){
	
}

/*********** Medium devices only ***********/
@media (min-width: 992px) and (max-width: 1199px){
	
}

/*********** Small devices only ***********/
@media (min-width: 768px) and (max-width: 991px){
	/* Search bar */
header #ownNavbar form{
  width: 135px;
  /*background-color: blue;*/
}
header #ownNavbar form .input-group{
  width: 0px;
  position: relative;
  float: right;
  /*background-color: red;*/
}
header #ownNavbar form input{
  transition: width 0.4s ease-in-out;
  width: 80px;

}
header #ownNavbar form input:focus{
  float: right;
  width: 200px;
}
header #ownNavbar form button{

}
/* End of search bar */



}

/*********** Extra small devices only ***********/
@media (max-width: 767px){
  header #ownNavbar .navbar-brand{ /*Navbar-brand, make it align center*/
    /*background-color: red;
    margin: auto;*/
  }
  header #ownNavbar button.navbar-toggle{ /*Navbar button*/
    /*float: left;
    margin-left: 15px;*/
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  
}