:root {
  /* universal colors */
  --color-bg-1: #f2f8f3ff;
  --color-bg-2: #d6eadcff;
  --color-bg-3: #bbddc3ff;
  --color-bg-4: #9fd0a9ff;
  --color-border-1: #3a7d44ff;
  --color-border-2: #1a381eff;
  --color-item-0: #fff;
  --color-item-1: #f2f8f3ff;
  --color-item-2: #9fd0a9ff;
  --color-item-3: #3a7d44ff;
  --color-item-4: #1a381eff;
  --color-text-1: #000;
  --color-text-2: #3a7d44ff;
  --color-text-3: #1a381eff;



  --ownColor0: #f2f8f3ff;
  --ownColor1: #d6eadcff;
  --ownColor2: #bbddc3ff;
  --ownColor3: #9fd0a9ff;
  --ownColor4: #3a7d44ff;
  --ownColor5: #27542dff;
  --ownColor6: #1a381eff;
  --textColor1: #000000;
  
}

/****** General styles ******/
html{
  background-color: var(--color-bg-4);
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{  
  background-color: var(--color-bg-2);
  font-family: 'Montserrat', sans-serif;
}
a{
  color: var(--color-text-2);
  font-weight: bold;
}
a:hover{
  color: var(--color-text-3);
  text-decoration: none;
}

/****** Navbar ******/
header #ownNavbar{ /* The whole bar */
  background-color: var(--color-bg-4);
  border: none;
  border-radius: 0px;
  border-bottom: 10px solid var(--color-border-2);
  padding-top: 10px;
  padding-bottom: 10px;
}
header #ownNavbar .navbar-brand{ /* The brand logo */
  color: var(--color-text-1);
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
}
header #ownNavbar .navbar-nav a{ /* Menu items */
  color: var(--color-text-1);
  font-size: 1.15em;
  font-weight: normal;
  letter-spacing: 3.7px;
  text-transform: lowercase;
  padding-left: 10px;
  padding-right: 10px;
}
header #ownNavbar .navbar-nav a:hover{
  background-color: var(--color-item-1);
}
header #ownNavbar button.navbar-toggle{ /* Navbar menu button in xsmall */
  background-color: var(--color-bg-4);
  border-color: var(--color-border-2);
  border-width: 1px;
  box-shadow: 0px 0px 1px 1px var(--color-border-2);
}
header #ownNavbar button.navbar-toggle:hover{
  background-color: var(--color-item-1);
}
header #ownNavbar button.navbar-toggle:active{
  background-color: var(--color-item-0);
}
header #ownNavbar button.navbar-toggle:focus{
  border-color: var(--color-border-2);
  box-shadow: 0px 0px 2px 2px var(--color-border-1);
}
header #ownNavbar span.icon-bar{ /* Three bars inside the button */
  background-color: var(--color-border-2);
}
header #ownNavbar form input{ /* Search bar */
  background-color: var(--color-bg-1);
  border-color: var(--color-border-2);  
}
header #ownNavbar form input:focus{ 
  transition: width 0.4s ease-in-out;
  border-color: var(--color-border-2);
  box-shadow: 0px 0px 2px 2px var(--color-border-1);
}
header #ownNavbar form button{ /* Search button */
  background-color: var(--color-bg-4);
  border-color: var(--color-border-2);
}
header #ownNavbar form button:active{
  box-shadow: 0px 0px 2px 2px var(--color-border-1);
}
@media (min-width: 768px) and (max-width: 991px){ /* Expansion of search bar */
  header #ownNavbar form{
    width: 135px;   
  }
  header #ownNavbar form .input-group{
    width: 0px;
    position: relative;
    float: right;
  }
  header #ownNavbar form input{
    width: 80px;
  }
  header #ownNavbar form input:focus{
    float: right;
    width: 200px;
  }  
}
/****** Main Content - General ******/
.extra-margin-top{ /* In order to separate sections */
  height: 70px;
}
.ownSection > h2 { /* Headings of sections */
  letter-spacing: 10px;
  text-align: center;
  text-transform: lowercase;
  padding: 20px;
  border-bottom: 3px solid var(--color-border-1);
}
p {
  margin-bottom: 20px;
}

/****** Jumbotron ******/
.jumbotron-container .jumbotron{
  padding: 0px;
}
.jumbotron-image{
  background-attachment: fixed;
  background-color: #282923; /* the sublime text bg color*/
  background-position: center top;
  background-repeat: no-repeat;
  color: #fff;
  letter-spacing: 15px;
  text-align: center;
  text-transform: lowercase;
  text-shadow: 2px 2px 5px black;
}
.jumbotron-image .jumbotron-subtitle {      
  font-size: 0.3em;
}
@media (min-width: 1200px) {
  .jumbotron-image{
    background-image: url('../images/jumbotron_1140.jpg');
    font-size: 6em;
    height: 456px;
    padding-top: 13%;
  }
  .jumbotron-image .jumbotron-subtitle {
    font-size: 0.2em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .jumbotron-image{
    background-image: url('../images/jumbotron_940.jpg');
    font-size: 5em;
    height: 376px;
    padding-top: 12%;
  }    
}
@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron-image{
    background-image: url('../images/jumbotron_720.jpg');
    font-size: 4em;
    height: 288px;
    padding-top: 12%;
  }
}
@media (max-width: 767px) {
  .jumbotron-image{
    background-position: left top;
    background-image: url('../images/jumbotron_1140.jpg');
    font-size: 6vw;
    height: 288px;
    padding-top: 11%;
  }    
}

/****** News Section ******/
#news article{
  /*background-color: var(--color-bg-4);*/
  overflow-y: hidden;
}
#news h4{
  font-weight: 700;
}
#news a{
  color: var(--color-text-2);
}
#news a:hover{
  color: var(--color-text-3);
  text-decoration: none;
}
@media (min-width: 768px){ /* Except small device */
  #news article{
    height: 450px;
  }
}

/****** Gallery Section ******/
.mySlides{
  display:none;
}
.custom-caption{
  background-color: #222;
  padding: 10px 15px 10px 15px;
}
.custom-caption div{
  text-align: center;font-size: 0.9em;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.7px;
}

/****** Contact Section ******/
.ownInputField {
  background-color: var(--color-bg-1);
  border-color: var(--color-border-2);  
}
.ownInputField:focus {
  border-color: var(--color-border-2);
  box-shadow: 0px 0px 2px 2px var(--color-border-1);
}
.ownInputAddon {
  background-color: var(--color-bg-2);
  border-color: var(--color-border-2);
}
#map-container{
  background-color: var(--color-bg-3);
  width: 100%;
  position: relative;
  padding-top: 56.25%;
}
#map-container iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
#map-container + div a{
  color: #337ab7;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;  
  font-weight: normal;
}
#map-container + div a:hover{
  color: #23527c;
  text-decoration: underline;  
}
#contact ul{
  list-style: none;
  padding-left: 0;
}
#message{
  resize: vertical;
  overflow-y: auto;
}

#send-button{
  background-color: var(--color-item-2);
  font-weight: bold;
}



/****** Footer *******/
footer{
  border: none;
  border-top: 10px solid var(--color-border-2);
  background-color: var(--color-bg-4);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0px;
  text-align: center;
}

/*------------==[ Subpages ]==------------*/
/****** News article ******/
.article-bold-paragraph{
  font-weight: bold;
}
.article-content h2{
  margin-top: 40px;
  margin-bottom: 25px;
}
.article-date{
  font-size: 0.9em;
}
.image-container{
  margin-bottom: 30px;
}
.video-container{
  position: relative;
  overflow: hidden;
  width: 100%;
}
.video-container::after{
  display: block;
  content: "";
  padding-top: 56.25%;
}
.video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figcaption{
  font-size: 0.8em;
  font-weight: 600;
  color: #444;
  font-style: italic;
}
.article-source-paragraph{
  font-size: 0.9em;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 10px;
}
.article-backto-link{
  margin-top: 0px;
  font-size: 1.2em;
}
.article-backto-link a:hover{
  color: red;  
}

/*--==[ Extract from w3.css for the slideshow in Gallery ]==--*/
.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-bar .w3-button{white-space:normal}
.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
@media (max-width:600px){.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-left-align{text-align:left!important}.w3-right-align{text-align:right!important}.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}
.w3-button:hover{color:#00000066!important;background-color:#cccccc66!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#00000066!important}

/*******Junk*******/
/*
@media (min-width: 1200px){} (Large devices only)
@media (min-width: 992px) and (max-width: 1199px){} (Medium devices only)    
@media (min-width: 768px) and (max-width: 991px){} (Small devices only)
@media (max-width: 767px){} (Extra small devices only)
@media (min-width: 768px) {} (Except extra small devices)

}
/*
@media (max-width: 767px){
  header #ownNavbar .navbar-brand{ *//*Navbar-brand, make it align center*//*
    background-color: red;
    margin: auto;
  }
  header #ownNavbar button.navbar-toggle{ *//*Navbar button*//*
    float: left;
    margin-left: 15px;
  }  
}