/*https://coolors.co/f8f9fc-c6cee7-28112b-28536b-6a66a3
--ghost-white: #f8f9fcff;
--periwinkle-crayola: #c6cee7ff;
--dark-purple: #28112bff;
--blue-sapphire: #28536bff;
--dark-blue-gray: #6a66a3ff;
*/

body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #28112b;
	background-color: #f8f9fc;
}
#header-nav
{
	background-color: #C6CEE7;
	border-radius: 0;
	border-color: #28536B;
	border-style: solid;
	border-width: 0px 0px 5px 0px;
		
}
#logo-img
{
	background: url('../images/logo.png') no-repeat;
	height: 50px;
	width: 50px;
	margin: 20px;	
}

.testBox{
	background: #28536b;
	color: white;
	width: 200px;
	height: 200px;
	border-style: solid;
	border-color: black;
	border-width: 30px;
	border-radius: 20px 50px 20px 50px;
}